.list-details-header {
    height: 120px;
}

.list-details-header button {
    display: inline-block;
    border: none;
    background-color: #253d3e;
    font-size: 1.8rem;
}

.list-details-header h2 {
    display: inline-block;
}

.list-details-header p {
    color: #eaeadf;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    margin-top: 5px;
}