.add-packing-item {
    margin: 30px 20px 10px 20px;
    border-bottom: 1px solid #6a7a7a;
    display: flex;
    justify-content: space-between;
}

.add-packing-item .text-field {
    padding: 10px 0 10px 10px;
    background-color: unset;
    border: 0;
    font-size: 1rem;
    color: #253d3e;
    outline: none;
    flex-grow: 2;
}

.add-packing-item .button {
    background-color: unset;
    border: 0;
    padding-top: 10px;
    font-size: 1.4rem;
    color: #253d3e;
    flex-grow: 1;
}