.edit-item-container {
    margin: 30px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.edit-item-container > p {
    font-weight: lighter;
}

.edit-item-container > input {
    height: 35px;
    padding: 5px 0 5px 20px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #233131;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.edit-item-container > button {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d7a36f;
    font-size: 1.1rem;
    color: #253d3e;
    border: 0;
    border-radius: 10px;
}
