.dd-filter-wrapper {
    margin-right: 20px;
}

.dd-filter-wrapper > div {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: right;
    color: #414e4f;
}

.dd-filter-buttons {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
    background-color: #eaeadf;
    border-top: 1.2px solid #414e4f;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.dd-filter-wrapper button {
    background-color: unset;
    border: none;
    font-size: 0.9rem;
    color: #5a6b6c;
}

.dd-filter-wrapper p {
    display: inline-block;
}
