.item-card {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: flex-start;
    font-size: 1.1rem;
    border-bottom: 1px solid #adadab;
    flex-wrap: nowrap;
}

.item-card svg {
    padding: 1px;
}

.item-card p {
    margin: 0 0 0 10px;
    padding-top: 2px;
    flex-grow: 3;
    font-size: 0.9rem;
    color: #5a6b6c;
}

.item-card button {
    background-color: unset;
    border: none;
    font-size: 1.1rem;
}

.item-card .delete-button {
    font-size: 1.2rem;
}