.item-card {
    padding: 10px 0 5px 0;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #adadab;
    flex-wrap: nowrap;
}

.item-card:last-child {
    margin-bottom: 10px;
}

.item-card svg {
    padding: 1px;
}

.item-card p {
    margin: 0 0 0 10px;
    padding-top: 2px;
    flex-grow: 3;
    font-size: 0.9rem;
    color: #5a6b6c;
}

.item-card button {
    padding: 0;
    background-color: unset;
    border: none;
    font-size: 1.1rem;
    justify-self: flex-start;
}

.item-card .delete-button {
    font-size: 1.2rem;
    justify-self: flex-end;
}
