.items-overview {
    width: 100%;
    min-height: 80vh;
    margin-bottom: 50px;
    background-color: #eaeadf;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.item-container {
    margin: 30px 20px 0 20px;
}

.category-text {
    padding-top: 5px;
    border-top: 1.5px solid #6a7a7a;
}

.item-card circle, .item-card path {
stroke: #d7a36f;
}
