.items-overview {
    width: 100%;
    min-height: 75vh;
    background-color: #eaeadf;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.item-container {
    margin: 30px 20px 0 20px;
}

.item-container > p {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

.category-text {
    padding-top: 5px;
    border-top: 1.5px solid #6a7a7a;
}

.item-card circle, .item-card path {
stroke: #d7a36f;
}
