.landing-page-container {
    min-width: 350px;
    max-width: 60%;
    margin: 114px auto 0 auto;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.landing-page-container > div {
    margin-left: auto;
    margin-right: auto;
}

.landing-page-container h1 {
    margin: 0;
    font-size: 5rem;
    color: #eaeadf;
}

.landing-page-container > div > h1:nth-child(odd) {
    margin-left: -40px;
    margin-bottom: -10px;
}

.landing-page-container > div > h1:nth-child(even) {
    margin-left: 40px;
}

.landing-page-container > button {
    margin-top: 30px;
}
