.auth-container > h2 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: #eaeadf;
    border-bottom: 1.5px solid #eaeadf;
}

.auth-container {
    min-width: 350px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.auth-container > .form-button {
    margin-top: 15px;
}

.auth-container > input[type="text"] {
    background-image: url('../../public/username-icon.png');
}

.auth-container input[type="password"] {
    background-image: url('../../public/password-icon.png');
}

.text-button {
    width: 100%;
    margin-top: 10px;
    background: unset;
    border: none;
    color: #d7a36f;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
}
