.App {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.Toastify {
  --toastify-color-light: #253d3e;
  --toastify-icon-color-error: #d7a36f;
  --toastify-text-color-light: #eaeadf;
  --toastify-toast-min-height: 20vh;
}

.note-text {
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  color: #eaeadf;
  align-self: flex-start;
}

button, .packing-list-tile, .form-button, .item-card, .item-card p, div[role="button"] {
  cursor: pointer;
}

h2, p {
  cursor: default;
}

@media (min-width: 768px) {
  .App  {
    width: 65%;
  }
}
